@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    font-size: 100%;
    background: #F5F5F5;
}
.cabecalho {
    display: flex;
    font-size: 200%;
    flex-direction: row;
    background: linear-gradient(89.74deg, #F5F5F5 30.29%, #A6A6A6 75.58%);
    align-items:center;
    justify-content: space-around;
    gap: 65%;
    padding: 1%;
    
}
.cabecalhoLogo{
    margin-top: 2%;
    margin-left: 8%;
}
.cabecalhoItem{
    display: flex;
    margin-left: -30%;
    justify-content: space-around;
    gap: 5%;
}
.inicial{

    display: flex;
    flex-direction: row;

}

.primTraco{
    margin-top: -5%;
}
.ccNome{
    padding:10%;
}
.servicos{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-between;
    margin-top: -10%;
}
.servicosInfo{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding-top: 10%;
    padding-left: 5%;
    justify-content: initial;
    gap: 20%;
}

.servicosInfoTitulo{
    align-self: flex-start;
    font-size: 500%;
    align-self: center;

    
}
.servicosInfoImg{
    display: flex;
    justify-content: space-around;
    gap: 18%;
    text-align: center;
}
.servicosInfoImgEngTextoTitulo{
    font-size: 170%;
    
}
.servicosInfoImgEngTexto{
    text-align: center;

}
.servicosInfoImgIncTextoTitulo{
    font-size: 170%;
    
}
.servicosInfoImgIncTexto{
    text-align: center;

}
.servicosInfoImgSerTextoTitulo{
    font-size: 170%;
    
}
.servicosInfoImgTexto{
    text-align: center;

}
.tercTraco{
    width: 30%;
}
.quadradoRodape{
    width: 50%;
}